*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:"Sintony", sans-serif;
}
html{
  background-image:url(/images/back.jpg);
  background-size:cover;
}
body{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-size:cover;
  margin:70px 0 0 0;
}
#root{
  width:100%;
}